<!doctype html>
<html>
  <head>
    <title>Socket.IO Demo</title>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	<h1>API Server Info</h1>
 
	<div>Server Host</div>
	<ul><li> {{ serverHost }} </li></ul>

	<div>Server Time</div>
	<ul><li> {{ serverTime }} </li></ul>
	
  	<div v-if = "serverData.length > 0">Server Message</div>
  	<ul>
  		<li v-for="item in serverData">
			[ {{ item.time }} ] {{ item.msg }}
		</li>
  	</ul>
  	
    
	<script>
	  
		var socket = io();

		var vm = new Vue({
			el:'body',
			data:{
				serverHost:'',
				serverTime:'',
				serverData:[],
				id:'',//client socket id
			},
			ready:function(){
				
				//recive message
				socket.on('message', function(data){
					if(data.type === 'init'){
						this.id = data.id;
						this.serverHost = data.host;
					}

					if(data.type === 'server time'){
						this.serverTime = data.time;
					}

					if(data.type === 'from server msg'){
						this.serverData.push(data);
					}

					if(data.type === 'remove'){
						//remove connection info
					}

					// console.log(data.type, data.id, data.msg, data.time);
					
				}.bind(this));
			}
		});

	</script>

  </body>
</html>